/* General Styles */
.yes-widget-container, .yes-modal {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.yes-widget-container {
    display: table;
    font-size: 16px;
    margin: 10px auto;
    max-width: 400px;
    min-width: 400px;
    position: relative;
    padding: 10px;
    text-align: center;
    width: 400px;
}

.yes-widget-container .yes-header-1, .yes-widget-container .yes-modal {
    font-size: 24px;
    text-align: center;
}

.yes-widget-container .yes-contact-import-section {
    text-align: center;
}

.yes-widget-container .yes-manual-input-field, .yes-widget-container .yes-default-btn {
    font-family: inherit;
}

/* Manual Input Section */
.yes-widget-container .yes-manual-input-form {
    text-align: center;
}

.yes-widget-container .yes-manual-input-field {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 28px -13px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 28px -13px rgba(0,0,0,1);
    box-shadow: 0px 0px 28px -13px rgba(0,0,0,1);
    font-size: 15px;
    font-style: italic;
    padding: 10px;
    resize: vertical;
    text-align: left;
    width: 100%;
}

/* Buttons */
.yes-widget-container .yes-default-btn, .yes-modal .yes-default-btn {
    background: repeat-x #1d89cf;
    background-image: linear-gradient(to bottom,#1e8cd3 0,#1a7ab9 100%);
    border: 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-table;
    font-size: 16px;
    margin: 10px auto;
    padding: 7px 15px;
}

.yes-widget-container .yes-default-btn[disabled], .yes-modal .yes-default-btn[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
}

.yes-widget-container .yes-share-btn-icon, .yes-widget-container .yes-contact-import-btn-icon {
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
    display: table-cell;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}

.yes-widget-container .yes-share-btn-text, .yes-widget-container .yes-contact-import-btn-text {
    display: table-cell;
    padding-left: 5px;
    vertical-align: middle;
}

.yes-widget-container .yes-contact-import-btn {
    padding: 7px 15px;
}

.yes-widget-container .yes-manual-input-submit:hover:not([disabled]), .yes-widget-container .yes-contact-import-btn:hover:not([disabled]) {
    background: repeat-x #1975B3;
    background-image: linear-gradient(to bottom, #1975b3 0, #16679c 100%);
}

.yes-widget-container .yes-share-btn-section {
    margin-top: 10px;
    text-align: center;
}

.yes-widget-container .yes-share-btn {
    color: #fff;
    display: inline-block;
    font-size: 13px;
    margin: 3px;
    padding: 5px 7px 5px 5px;
}

.yes-widget-container .yes-share-btn, .yes-widget-container .yes-share-btn-text, .yes-widget-container .yes-share-btn-icon {
  cursor: pointer;
}

.yes-widget-container .yes-share-btn-text {
    font-size: 13px;
}

/* Flashed Messages */
.yes-widget-container .yes-flash {
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    margin: 7px 0;
    padding: 7px;
    text-align: center;
}

.yes-widget-container .yes-flash-error {
    background-color: #ff4d4d;
    border: 1px solid #ff0000;
}

.yes-widget-container .yes-flash-success {
    background-color: #00cc00;
    border: 1px solid #008000;
}

/* Contacts Modal */
.yes-modal {
    background: white;
    border-radius: 3px;
    font-size: 16px;
    position: absolute;
    width: 650px;
    z-index: 100000000000;
}

.yes-modal-overlay {
    background: #000;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000000000;
}

.yes-modal .yes-modal-header {
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    font-weight: bolder;
    height: 40px;
    padding: 7px;
    text-align: center;
}

.yes-modal .yes-modal-title {
    margin: 0;
}

.yes-modal .yes-modal-close-btn {
    cursor: pointer;
    float: right;
    position: relative;
    right: 3px;
    top: -28px;
}

.yes-modal .yes-modal-submit-btn {
    width: 100%;
}

.yes-modal .yes-modal-body {
    height: 610px;
    margin: 3px;
    padding: 25px 30px 5px;
}

.yes-modal .yes-search-field {
    background: #fff no-repeat url("//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-magnifying-glass.svg");
    background-position: 10px center;
    background-size: 25px;
    border: 1px solid #ccc;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 28px -13px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 28px -13px rgba(0,0,0,1);
    box-shadow: 0px 0px 28px -13px rgba(0,0,0,1);
    font-style: italic;
    font-size: inherit;
    margin: 0 0 10px 0;
    padding: 5px 35px;
    width: 100%;
}

.yes-modal .yes-contact-container {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.yes-modal .yes-modal-footer {
    background: #fff;
    border-radius: 3px;
    padding: 0 10px 5px;
}

.yes-modal .yes-contact-row {
    padding: 6px;
    width: 100%;
}

.yes-modal .yes-contact-row div {
    display: table-cell;
}

.yes-modal .yes-contact-row:even {
    background-color: #f1f1f1;
}

.yes-modal .yes-contact-row-checkbox {
    padding: 0 10px 0 0;
    width: 15px;
}

.yes-modal .yes-contact-row-name {
    font-weight: 600;
    width: 225px;
    min-width: 225px;
    max-width: 225px;
}

.yes-modal .yes-contact-row-name span {
    display: block;
    overflow: scroll;
}

.yes-modal .yes-contact-row-email {
    font-style: italic;
    font-weight: 300;
    white-space: nowrap;
    width: 330px;
    max-width: 330px;
    min-width: 330px;
}

/* Spinning Loading Icon */
.yes-modal .yes-loading-icon {
  font-size: 10px;
  margin: 50px auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: -moz-linear-gradient(white, black);
  background: -webkit-linear-gradient(white, black);
  background: -o-linear-gradient(white, black);
  background: -ms-linear-gradient(white, black);
  background: linear-gradient(white, black);
  -webkit-animation: load 1.4s infinite linear;
  animation: yes-animate-loader 1.4s infinite linear;
}

.yes-modal .yes-loading-icon:before {
  width: 50%;
  height: 50%;
  background: #fff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.yes-modal .yes-loading-icon:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes yes-animate-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes yes-animate-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
